{% extends "base.html" %}
{% load static %}
{% block extra_head %}{% endblock %}

{% block title %}My Django site landing page{% endblock %}


{% block content %}
  <main>
    <section class="bg-cover bg-center text-text-default" style="background-image: url('{% static 'images/public/taxi.jpeg' %}');"> 
      <div class="px-[8%] sm:px-[20%] lg:px-[29%] pt-[8%] pb-[12%] text-white bg-primary/85">
        <div class="flex flex-col space-y-6">
          <div class="text-center font-bold text-4xl lg:text-6xl space-y-1">
            <h1 class="">Don't Drive Impaired.</h1>
            <p class="text-secondary">We Drive You Home</p>
            <p class="">in Your Own Car</p>
          </div>
          <p class="text-center font-normal text-xl lg:text-2xl">
            Professional drivers arrive at your location and safely drive you home in your own vehicle. Available 24/7 across Rwanda.
          </p>

          <div class="flex flex-col sm:flex-row justify-center items-center w-full gap-5 font-semibold text-custom-sm">
            <a href="#" class="flex  items-center rounded-xl px-8 py-4 gap-2 bg-secondary">
              <img src="{% static 'images/svg/wheel.svg' %}" alt="steering wheel" class="size-6">
              <span class="text-primary text-lg">Book a Driver</span>
            </a>
            <a href="#" class="flex  items-center border-2 rounded-xl px-8 py-4 gap-2 group hover:bg-white">
              <img src="{% static 'images/svg/person_add_white.svg' %}" alt="register icon" class="size-6 group-hover:hidden">
              <img src="{% static 'images/svg/person_add_blue.svg' %}" alt="register icon" class="hidden size-6 group-hover:block">
              <span class="text-lg group-hover:text-primary">Create account</span>
            </a>
          </div>
          
        </div>
      </div>
    </section>

    <section class="grid px-[5%] lg:px-[10%] pt-10 bg-gray-100">
      <div class="space-y-4 text-center">
        <h1 class="font-bold text-4xl text-primary">How DriveMe Home Works</h1>
        <p class="font-normal text-xl text-gray-500">Three simple steps to get home safely in your own vehicle</p>
      </div>
      <div class="flex flex-col lg:flex-row gap-8 text-custom-sm py-20 font-normal text-gray-500">
        <div class="grid items-center justify-items-center content-center bg-white shadow-sm rounded-2xl p-8 gap-4 group hover:shadow-lg transition-all duration-300">
          <div class="flex justify-center items-center w-20 h-20 rounded-full bg-primary">
            <img src="{% static 'images/svg/location_on.svg' %}" alt="location icon" class="size-8">
          </div>
          <h1 class="text-primary font-bold text-2xl text-center">Book a Driver</h1>
          <p class="text-center">
            Select your location and vehicle transmission type.
            Our app will find the nearest certified driver for you.
          </p>
          <div class="p-4 bg-gray-100 w-full rounded-2xl">
            <div class="flex items-center justify-center gap-4">
              <img src="{% static 'images/svg/nest_clock.svg' %}" alt="nest_clock">
              <p class="text-center">Average wait: 8 minutes</p>
            </div>
          </div>
        </div>

        <div class="grid items-center justify-items-center content-center bg-white shadow-sm rounded-2xl p-8 gap-4 group hover:shadow-lg transition-all duration-700">
          <div class="flex justify-center items-center w-20 h-20 rounded-full bg-secondary">
            <img src="{% static 'images/svg/shield_person.svg' %}" alt="shield_person" class="size-8">
          </div>
          <h1 class="text-primary font-bold text-2xl text-center">Driver Arrives</h1>
          <p class="text-center">
            A certified, uniformed driver meets you at your location. 
            All drivers are background-checked and trained.
          </p>
          <div class="p-4 bg-gray-100 w-full rounded-2xl">
            <div class="flex items-center justify-center gap-4">
              <img src="{% static 'images/svg/verified_user.svg' %}" alt="verified_user">
              <p class="text-center">100% Verified Drivers</p>
            </div>
          </div>
        </div>

        <div class="grid items-center justify-items-center content-center bg-white shadow-sm rounded-2xl p-8 gap-4 group hover:shadow-lg transition-all duration-700">
          <div class="flex justify-center items-center w-20 h-20 rounded-full bg-primary">
            <img src="{% static 'images/svg/home.svg' %}" alt="location icon" class="size-8">
          </div>
          <h1 class="text-primary font-bold text-2xl text-center">Get Home Safe</h1>
          <p class="text-center">
            Relax as your driver safely navigates you home in your own car.
            Track your journey in real-time.
          </p>
          <div class="p-4 bg-gray-100 w-full rounded-2xl">
            <div class="flex items-center justify-center gap-4">
              <img src="{% static 'images/svg/right_direction.svg' %}" alt="right_direction">
              <p class="text-center">Live GPS Tracking</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="grid lg:grid-cols-2 px-[5%] lg:px-[10%] py-20 gap-10 bg-white">
      <div class="grid gap-8 text-text-default pr-6">
        <h1 class="text-primary font-bold text-4xl ">Your Safety is Our Priority</h1>
        <p class="text-lg text-text-default">Every driver undergoes rigorous background checks, driving assessments,
          and ongoing training to ensure your complete safety and peace of mind.
        </p>
        <div class="grid gap-4">
          <div class="flex gap-4">
            <div class="size-8 rounded-full bg-secondary flex justify-center items-center py-1 px-2">
              {% lucide "check" size="16" stroke_width=3 class="text-primary" %}
            </div>
            <div class="grid gap-2">
              <h3 class="text-primary text-custom-sm font-semibold">Background Verified</h3>
              <p class="text-custom-sm">Comprehensive criminal background checks and driving record verification</p>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="size-8 rounded-full bg-secondary flex justify-center items-center py-1 px-2">
              {% lucide "check" size="16" stroke_width=3 class="text-primary" %}
            </div>
            <div class="grid gap-2">
              <h3 class="text-primary text-custom-sm font-semibold">Insurance Coverage</h3>
              <p class="text-custom-sm">Full insurance coverage for every ride, protecting you and your vehicle</p>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="size-8 rounded-full bg-secondary flex justify-center items-center py-1 px-2">
              {% lucide "check" size="16" stroke_width=3 class="text-primary" %}
            </div>
            <div class="grid gap-2">
              <h3 class="text-primary text-custom-sm font-semibold">24/7 Support</h3>
              <p class="text-custom-sm">Round-the-clock customer support and emergency assistance</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 h-fit lg:self-center gap-8 p-8 rounded-2xl bg-blue-800 text-white shadow-sm">
        <div class="text-center grid gap-2">
          <h1 class="text-secondary text-3xl font-bold">98%</h1>
          <span class="text-sm">Customer Satisfaction</span>
        </div>
        <div class="text-center grid gap-2">
          <h1 class="text-secondary text-3xl font-bold">500+</h1>
          <span class="text-sm">Customer Satisfaction</span>
        </div>
        <div class="text-center grid gap-2">
          <h1 class="text-secondary text-3xl font-bold">100K+</h1>
          <span class="text-sm">Safe Rides</span>
        </div>
        <div class="text-center grid gap-2">
          <h1 class="text-secondary text-3xl font-bold">24/7</h1>
          <span class="text-sm">Service Available</span>
        </div>
      </div>
    </section>

    <section class="border grid py-20 bg-primary">
      <div class="grid gap-8 px-[5%] sm:px-[10%] justify-center">
        <h1 class="font-bold text-5xl text-white text-center">Ready to Get Home Safe?</h1>
        <p class="text-[#d1d5db] text-xl text-center">
          Join thousands of Rwandans who trust DriveMe Home for their safe transportation needs.
        </p>
        <div class="flex flex-col sm:flex-row justify-center gap-8">
          <a href="#" class="flex items-center justify-center gap-2 py-4 px-8 rounded-lg bg-secondary">
            <img src="{% static 'images/svg/apple.png' %}" alt="apple logo" class="size-4">
            <span class="text-lg font-semibold text-primary">Download for iOS</span>
          </a>
          <a href="#" class="flex items-center justify-center gap-2 py-4 px-8 rounded-lg bg-secondary">
            <img src="{% static 'images/svg/playstore.png' %}" alt="playstore logo" class="size-4">
            <span class="text-lg font-semibold text-primary">Download for Android</span>
          </a>
        </div>
        <a href="#" class="text-custom-sm font-medium underline text-secondary hover:text-[#fde047] transition-all duration-200 text-center">
          Want to become a driver? Apply here
        </a>
      </div>
    </section>
  </main>
{% endblock %}
