{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    
    {% block extra_head %}
    <!-- Additional head content -->
    {% endblock %}
</head>
<body>

    <main>
        {% block content %}
            <ul class="block lg:flex space-x-4 m-auto bg-red-50 border-2 border-black py-10 px-10">
                <li>Mango</li>
                <li>Orange</li>
                <li>Apple</li>
                <li>Avocado</li>
            </ul>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} My Django Site</p>
    </footer>

    <!-- JavaScript files -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
</body>
</html>
