@import 'tailwindcss';
/* --- FLOWBITE CONFIGURATION --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
/* Load the Flowbite plugin to enable component styles */
@plugin "flowbite/plugin";

/* Tell Tailwind to scan Flowbite's JS files for class names */
@source "../../node_modules/flowbite";

/* --- PROJECT FILES TO SCAN FOR TAILWIND CLASSES --- */
/* Scan all HTML templates in the project */
@source "../../**/templates/**/*.html"; 
/* 1. Scan the root 'templates' directory (base.html, landingPage.html) */
@source "../../templates/**/*.html";

/* 2. Scan 'templates' inside any app (e.g., users/templates/...) */
@source "../../**/templates/**/*.html";

/* 3. Scan Python files containing Tailwind classes (e.g., users/forms.py) */
@source "../../**/forms.py";


@theme {
  --color-primary: #1a237e;
  --color-secondary: #ffc107;
  --color-gret: #9ca3af;
  --color-text-default: #4b5563;
  --text-custom-sm : 16px;
}

/* Initial state of the icon */
.my-icon {
  fill: #9ca3af;
  stroke: #9ca3af;
  transition: fill 0.3s ease, stroke 0.3s ease; /* Smooth transition */
}

.my-icon:hover {
  fill: #ffc107;
  stroke: #ffc107;
  cursor: pointer; 
}

.my-icon-stroke {
  stroke: #1a237e;
  transition: fill 0.3s ease, stroke 0.3s ease; /* Smooth transition */
}

.my-icon-stroke:hover {
  stroke: #ffc107;
  cursor: pointer; 
}

/* --- GLOBAL MODAL BACKDROP STYLE --- */
[data-modal-backdrop] {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
    width: 100%;
}
.logged-in .fixed-header {
    @media (min-width: 1024px) {
        left: 18rem;
        width: calc(100% - 18rem);
    }
}